In [61]:
import pandas as pd
from ast import literal_eval

In [2]:
for i in xrange(1,13):
    trip_data = pd.read_csv('../Data/Convenience/trip_data_convenience%d.csv'%i,usecols=['stop_id_start_transfer','stop_id_end_transfer','value'])
    group_values = pd.DataFrame(trip_data.groupby(['stop_id_start_transfer','stop_id_end_transfer']).sum())
    group_values.to_csv('../Data/Convenience/group%d.csv'%i)

In [3]:
group1 = pd.read_csv('../Data/Convenience/group1.csv')
group2 = pd.read_csv('../Data/Convenience/group2.csv')
group3 = pd.read_csv('../Data/Convenience/group3.csv')
group4 = pd.read_csv('../Data/Convenience/group4.csv')
group5 = pd.read_csv('../Data/Convenience/group5.csv')
group6 = pd.read_csv('../Data/Convenience/group6.csv')
group7 = pd.read_csv('../Data/Convenience/group7.csv')
group8 = pd.read_csv('../Data/Convenience/group8.csv')
group9 = pd.read_csv('../Data/Convenience/group9.csv')
group10 = pd.read_csv('../Data/Convenience/group10.csv')
group11 = pd.read_csv('../Data/Convenience/group11.csv')
group12 = pd.read_csv('../Data/Convenience/group12.csv')

In [4]:
popularity = pd.concat([group1,group2,group3,group4,group5,group6,group7,group8,group9,group10,group11,group12]).groupby(['stop_id_start_transfer','stop_id_end_transfer'],as_index=False)['value'].sum()
popularity['popularity'] = popularity['value']/popularity['value'].max()
popularity.to_csv('../Data/transfer_popularity.csv')

In [52]:
trip_data = pd.read_csv('../Data/Convenience/trip_data_convenience1.csv',usecols=['passenger_count','pickup_datetime','stop_id_start','lines_start','dropoff_datetime','stop_id_end','lines_end','stop_id_start_transfer','stop_id_end_transfer','num_of_stops_1','num_of_stops_2','num_of_stops','value'],parse_dates=['pickup_datetime','dropoff_datetime'],infer_datetime_format=True)
trip_data['lines_start'] = trip_data['lines_start'].apply(literal_eval)
trip_data['lines_end'] = trip_data['lines_end'].apply(literal_eval)

In [53]:
def day_of_week(row):
    days = {0: 'Weekday', 1: 'Weekday', 2: 'Weekday', 3: 'Weekday', 4: 'Weekday', 5: 'Saturday', 6: 'Sunday'}
    return days[row['pickup_datetime'].weekday()]

trip_data['day'] = trip_data.apply(day_of_week,axis=1)

In [55]:
trip_data['transfer_datetime'] = (trip_data['pickup_datetime'] + (trip_data['dropoff_datetime']-trip_data['pickup_datetime'])*(trip_data['num_of_stops_1']/trip_data['num_of_stops']))

In [65]:
def get_time(row, name):
    return row['%s_datetime'%name].time()

trip_data['pickup_time'] = trip_data.apply(lambda x: get_time(x,'pickup'), axis=1)
trip_data['transfer_time'] = trip_data.apply(lambda x: get_time(x,'transfer'), axis=1)
trip_data['dropoff_time'] = trip_data.apply(lambda x: get_time(x,'dropoff'), axis=1)

In [63]:
def get_time2(row):
    return row['transfer_datetime'].time()

In [58]:
def get_time3(row):
    return row['dropoff_datetime'].time()

In [67]:
trip_data.head()

,pickup_datetime,dropoff_datetime,passenger_count,stop_id_start,lines_start,stop_id_end,lines_end,stop_id_start_transfer,stop_id_end_transfer,num_of_stops_1,num_of_stops_2,num_of_stops,value,day,transfer_datetime,pickup_time,transfer_time,dropoff_time
0,2013-01-15 12:40:43,2013-01-15 12:53:19,1,128,"[1, 2, 3]",R21,"[N, R]",127,R16,1.0,5.0,6.0,1.0,Weekday,2013-01-15 12:42:49.000000000,12:40:43,12:42:49,12:53:19
1,2013-01-12 19:10:00,2013-01-12 19:33:00,1,128,"[1, 2, 3]",R21,"[N, R]",127,R16,1.0,5.0,6.0,1.0,Saturday,2013-01-12 19:13:50.000000000,19:10:00,19:13:50,19:33:00
2,2013-01-04 11:33:49,2013-01-04 11:51:30,1,128,"[1, 2, 3]",R21,"[N, R]",127,R16,1.0,5.0,6.0,1.0,Weekday,2013-01-04 11:36:45.833333333,11:33:49,11:36:45.833333,11:51:30
3,2013-01-16 19:02:00,2013-01-16 19:15:00,2,128,"[1, 2, 3]",R21,"[N, R]",127,R16,1.0,5.0,6.0,1.0,Weekday,2013-01-16 19:04:10.000000000,19:02:00,19:04:10,19:15:00
4,2013-01-15 12:57:00,2013-01-15 13:05:00,1,128,"[1, 2, 3]",R21,"[N, R]",127,R16,1.0,5.0,6.0,1.0,Weekday,2013-01-15 12:58:20.000000000,12:57:00,12:58:20,13:05:00

In [85]:
start_station_data = trip_data[['passenger_count','stop_id_start','lines_start','day','pickup_time']]
start_transfer_station_data = trip_data[['passenger_count','stop_id_start_transfer','lines_start','value','day','transfer_time']]
end_transfer_station_data = trip_data[['passenger_count','stop_id_end_transfer','lines_end','value','day','transfer_time']]
end_station_data = trip_data[['passenger_count','stop_id_end','lines_end','day','dropoff_time']]

start_station_data['value'] = 1.0
end_station_data['value'] = 1.0

/opt/conda/lib/python2.7/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [87]:
def adjusted_value_start(row):
    return row['value']/len(row['lines_start'])

def adjusted_value_end(row):
    return row['value']/len(row['lines_end'])

start_station_data['adjusted_value'] = start_station_data.apply(adjusted_value_start,axis=1)
start_transfer_station_data['adjusted_value'] = start_transfer_station_data.apply(adjusted_value_start,axis=1)
end_transfer_station_data['adjusted_value'] = end_transfer_station_data.apply(adjusted_value_end,axis=1)
end_station_data['adjusted_value'] = end_station_data.apply(adjusted_value_end,axis=1)

/opt/conda/lib/python2.7/site-packages/ipykernel/__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python2.7/site-packages/ipykernel/__main__.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python2.7/site-packages/ipykernel/__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/opt/conda/lib/python2.7/site-packages/ipykernel/__main__.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [88]:
start_transfer_station_data

,passenger_count,stop_id_start_transfer,lines_start,value,day,transfer_time,adjusted_value
0,1,127,"[1, 2, 3]",1.0,Weekday,12:42:49,0.333333
1,1,127,"[1, 2, 3]",1.0,Saturday,19:13:50,0.333333
2,1,127,"[1, 2, 3]",1.0,Weekday,11:36:45.833333,0.333333
3,2,127,"[1, 2, 3]",1.0,Weekday,19:04:10,0.333333
4,1,127,"[1, 2, 3]",1.0,Weekday,12:58:20,0.333333
5,1,127,"[1, 2, 3]",1.0,Weekday,08:19:23.333333,0.333333
6,1,127,"[1, 2, 3]",1.0,Weekday,16:32:11.833333,0.333333
7,1,127,"[1, 2, 3]",1.0,Weekday,14:10:41.500000,0.333333
8,1,127,"[1, 2, 3]",1.0,Sunday,13:50:15.833333,0.333333
9,5,127,"[1, 2, 3]",1.0,Weekday,14:08:30,0.333333
10,1,127,"[1, 2, 3]",1.0,Weekday,16:56:10,0.333333
11,1,127,"[1, 2, 3]",1.0,Weekday,12:52:02.833333,0.333333
12,2,127,"[1, 2, 3]",1.0,Weekday,23:43:10,0.333333
13,5,127,"[1, 2, 3]",1.0,Saturday,19:21:20,0.333333
14,1,127,"[1, 2, 3]",1.0,Sunday,13:32:08.333333,0.333333
15,1,127,"[1, 2, 3]",1.0,Weekday,10:43:06,0.333333
16,1,127,"[1, 2, 3]",1.0,Saturday,20:52:40,0.333333
17,1,127,"[1, 2, 3]",1.0,Saturday,17:12:13.666666,0.333333
18,1,127,"[1, 2, 3]",1.0,Weekday,10:57:40,0.333333
19,3,127,"[1, 2, 3]",1.0,Weekday,14:44:09.500000,0.333333
20,1,127,"[1, 2, 3]",1.0,Weekday,09:19:03.833333,0.333333
21,2,127,"[1, 2, 3]",1.0,Weekday,09:29:43.333333,0.333333
22,5,127,"[1, 2, 3]",1.0,Weekday,00:03:20,0.333333
23,1,127,"[1, 2, 3]",1.0,Weekday,09:35:30,0.333333
24,1,127,"[1, 2, 3]",1.0,Weekday,18:52:09.666666,0.333333
25,2,127,"[1, 2, 3]",1.0,Sunday,19:03:24,0.333333
26,3,127,"[1, 2, 3]",1.0,Saturday,15:22:01.166666,0.333333
27,5,127,"[1, 2, 3]",1.0,Weekday,10:55:00,0.333333
28,1,127,"[1, 2, 3]",1.0,Weekday,10:41:30,0.333333
29,2,127,"[1, 2, 3]",1.0,Weekday,10:45:50,0.333333
...,...,...,...,...,...,...,...
123263,2,637,"[6, 6X]",1.0,Weekday,19:36:53.058823,0.500000
123264,1,N04,"[N, R]",1.0,Weekday,04:02:48,0.500000
123265,4,B08,"[B, D, F, M]",1.0,Weekday,01:07:20,0.250000
123266,1,D21,"[A1, A2, B, C, D]",1.0,Saturday,23:46:15,0.200000
123267,6,621,[4],1.0,Weekday,07:20:16,1.000000
123268,1,125,[1],1.0,Weekday,01:20:32.727272,1.000000
123269,1,127,[1],1.0,Weekday,19:47:18.363636,1.000000
123270,5,A27,"[C, E]",1.0,Weekday,23:48:37.142857,0.500000
123271,6,127,[1],1.0,Weekday,22:17:37.241379,1.000000
123272,1,127,[1],1.0,Weekday,00:31:33.333333,1.000000
123273,5,R20,"[N, R]",1.0,Weekday,20:42:10,0.500000
123274,5,R29,[R],0.5,Weekday,23:28:36.521739,0.500000
123275,5,R33,[R],0.5,Weekday,23:34:20.869565,0.500000
123276,1,A38,"[A1, A2, C, E]",1.0,Weekday,09:53:10.750000,0.250000
123277,1,621,"[6, 6X]",1.0,Weekday,23:51:08.571428,0.500000
123278,3,723,[7],1.0,Saturday,09:30:45,1.000000
123279,1,125,"[1, 2, 3]",1.0,Weekday,11:56:00.384615,0.333333
123280,1,637,"[6, 6X]",1.0,Weekday,04:00:50.947368,0.500000
123281,1,125,[1],1.0,Weekday,19:33:00,1.000000
123282,5,R17,"[N, Q, R]",1.0,Weekday,23:42:00,0.333333
123283,2,414,[4],1.0,Weekday,10:19:00,1.000000
123284,1,414,"[4, 5]",1.0,Weekday,00:43:00,0.500000
123285,1,A36,"[A1, A2, C, E]",1.0,Weekday,07:48:40.705882,0.250000
123286,1,M22,"[J, Z]",1.0,Weekday,01:08:32.727272,0.500000
123287,1,R20,"[N, R]",1.0,Saturday,03:40:42.857142,0.500000
123288,3,H04,"[A1, A2, C, E]",1.0,Weekday,23:29:17.142857,0.250000
123289,2,127,[1],1.0,Weekday,00:21:43.846153,1.000000
123290,1,228,"[2, 3]",0.5,Weekday,02:52:44,0.250000
123291,1,229,"[2, 3]",0.5,Weekday,02:53:37.400000,0.250000
123292,1,A48,"[A1, A2]",1.0,Sunday,04:30:49.090909,0.500000

In [93]:
stops = pd.read_csv('../Data/stops_updated.txt',usecols=['stop_id','parent_station','lines'])
stops['lines'] = stops['lines'].apply(literal_eval)

In [96]:
stops = stops[stops['parent_station'].isnull()][['stop_id','lines']]